.bar {
  height: 15px;
  margin-top: 5px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

.pageviews {
  background-color: $color-pageviews;
  &:hover {
    background-color: darken( $color-pageviews, 5% );
  }
}

.shares {
  background-color: $color-shares;
  &:hover {
    background-color: darken( $color-shares, 5% );
  }
}

.comments {
  background-color: $color-comments;
  &:hover {
    background-color: darken( $color-comments, 5% );
  }

}

.readtime {
  background-color: $color-readtime;
  &:hover {
    background-color: darken( $color-readtime, 5% );
  }
}

.label {
  font-family: $titel;
  font-size: 14px;
  text-decoration: none;
  color: black;
  padding-left: 5px;

}

.legend-label {
  font-family: $titel;
  font-size: 14px;
  text-decoration: none;
  color: black;
  float: left;
  margin-right: 5px;
}

.legend {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
}

.legend-box {
  display: inline-block;
}

.bar-link {
  display: block;
  overflow: auto;
}

#mostread {
  padding-top: 10px;
}

#mostread h3 {
  margin-top: 15px;
  font-family: $titel;
}

.metainfo {
  margin-bottom: 15px;
}

.kennzahl {
  font-size: 28px;
  font-family: $titel;
  color: #008249;
  padding-right: 10px;
}

.infotext {
  font-size: 18px;
  font-family: $titel;
}


.selector {
  color: black;
  text-decoration: none;
  padding-right: 10px;
  font-family: $titel;
}

.selector:hover {
  color: darken( #008249, 5% );
}

.flagged {
  color: red;
}