.bar {
  font-family: $titel;
  background-color: #008249;
  display: block;
  height: 15px;
  margin-top: 6px;
  text-align: right;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

#mostread {
  padding-top: 10px;
}

#mostread h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  clear: left;
  font-family: $titel;
}


.bar:hover {
  background-color: darken( #008249, 5% );
}

.metainfo {
  margin-bottom: 15px;
}

.kennzahl {
  font-size: 28px;
  font-family: $titel;
  color: #008249;
  padding-right: 10px;
}

.infotext {
  font-size: 18px;
  font-family: $titel;
}

.selector {
  float: left;
  padding-right: 10px;
  font-size: 16px;
  font-family: $titel;
}

.selector a {
  color: #008249;
  text-decoration: none;
}

.selector a:hover {
  color: darken( #008249, 5% );
  text-decoration: underline;
}

.flagged {
  color: red;
}

.flop {
  background-color: red;
}


.flop:hover {
  background-color: darken( red, 10% );
}