// Layout

$S: 480px;
$M: 768px;
$L: 1100px;

$max-width-content: 1400px;

// colors
$color-pageviews: #03255C;
$color-shares: #02734D;
$color-comments: #F98D06;
$color-readtime: #00ABC0;
$lightgrey: #eeeeee;




// fonts
$titel: 'Monserrat', sans-serif;
$titel-weight: bold;
$titel-size:34px;
$titel-size-mobile:0;
$laufschrift: 'Droid Serif', sans-serif;
$laufschrift-weight: normal;
$laufschrift-size:18px;
$laufschrift-size-mobile:0;

$line-height:24px;
