// Layout

$S: 480px;
$M: 768px;
$L: 1100px;

$max-width-content: 1100px;

// colors
$darkgrey: #414141;
$mediumgrey: #e7e7e7;
$lightgrey: #f8f8f8;
$diagramm1: #005831; // grün dunkel
$diagramm2: #00e07d; // grün sehr hell
$diagramm3: #00b766; // grün hell
$diagramm4: #008148; // grün tatwo
$diagramm5: #00371f; // grün sehr dunkel


// fonts
$titel: 'Monserrat', sans-serif;
$titel-weight: bold;
$titel-size:34px;
$titel-size-mobile:0;
$laufschrift: 'Droid Serif', sans-serif;
$laufschrift-weight: normal;
$laufschrift-size:18px;
$laufschrift-size-mobile:0;

$line-height:24px;
